<div style="text-align:center; display: flex; justify-content: center; flex-direction: column; align-items: center;">
  <h1><b>EAVA Voice Cloning</b></h1>
  <div style="width: 100%; max-width: 600px;">
    <input type="file" (change)="onFileSelected($event)" class="file-input">
    <mat-form-field appearance="fill" style="width: 100%; margin-top:1em">
      <mat-label>Text</mat-label>
      <input matInput [(ngModel)]="text">
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Speed</mat-label>
      <input matInput type="number" [(ngModel)]="speed" step="0.1" min="0.1">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="isLoading">
    <mat-spinner *ngIf="isLoading; else submitText" diameter="20"></mat-spinner>
    <ng-template #submitText>Submit</ng-template>
  </button>
</div>
<audio controls *ngIf="audioSrc" [src]="audioSrc" style="width: 100%; max-width: 600px; margin: 0 auto; display: block; margin-top:1em"></audio>
